
.searchform {
    text-align: right;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Buttons */
.file_close_btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.file_close_btn:hover,
.file_close_btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.folder_close_btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.folder_close_btn:hover,
.folder_close_btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.del_close_btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.del_close_btn:hover,
.del_close_btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.action_icon:hover,
.action_icon:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.search-container {
    float: left;
  }
  
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background: #ccc;
  }